## Angular
node_modules/
dist/
.angular/
*.tgz
.env
.env.local
# Added for best practice
/.vscode
/.env
.env*
.DS_Store
Thumbs.db
.idea
*.log
coverage/
*.swp
*.swo
*.tmp
*.bak
*.orig
*.rej
*.sublime-workspace
*.sublime-project
